@import "./bootstrap";
@import "./variables-s.scss";
.wrapper{
    padding-left: 300px;
    transition: all 0.4s ease 0s;
//navbar css
    .navbar{
        height: 52px;
        background-color: $s-white-color;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        margin-bottom:0px !important;
        width: 85%;
        .rightpadding{
            padding-right: 0px!important;
        }
        .navbar-header{
            width:100%;
            .navbar-header-left{
                float:left;
                .icon-back{
                    font-size: 26px;
                }
                .text-heading{
                    font-family: $Lato-Medium;
                    font-size: 26px;
                    text-align: left;
                    color: $s-base-color;
                    margin-left:20px;
                }
               
            }
           
            .navbar-header-right{
                float:right;
                display:flex;
                height: 50px;
                .background_rightheader{
                    background-color: $s-base-color-8;
                    display:flex;
                }
                .searchheader{
                    width: 120px;
                    height: 50px;
                    padding-top: 3px;
                    border: none;
                    border-radius: 0px;
                }
                .select_header{
                    width: 130px;
                    border: 0px;
                    border-top: 0px;
                    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
                    -webkit-appearance: none;
                    -webkit-border-radius: 0px;
                    padding: 0px !important;
                    font-size: 18px;
                    text-transform:uppercase;
                    color: $s-base-color;
                    border-right: 1px solid $s-primary-color;
                    margin-top: 13px;
                    height: 22px !important;
                    background-color: $s-base-color-9;
                    margin: 13px 10px 0px -3px !important;
                    padding: 0px 0px 0px 29px !important;
                }
                .user_details {
                    position: relative;
                    margin: 3px 30px 0px 10px;
                    color:$s-primary-color;
                    font-family: $Lato-Regular;
                    table {
                        background-color: transparent;
                    }
                }
                .user_details .hello {
                    font-size: 14px;
                    color: $s-base-color-5;
                }
                .user_details .user_name {
                    font-size: 18px;
                    color: $s-base-color;
                    text-transform: capitalize;
                }
                .user_details:after {
                    font-family: 'sila';
                    content: "\e905";
                    font-size: 10px;
                    position: absolute;
                    right: -26px;
                    bottom: 5px;
                }
                .logout{
                    font-size: 16px;
                    font-family: $Lato-Regular;
                    color: $s-primary-color;
                    border: none;
                    margin: 14px;
                    text-transform: uppercase;
                    background-color: $s-base-color-9;
                    margin-right: 30px;
                    border-left: 1px solid $s-primary-color;
                    padding-left: 14px;
                }
                .icon-logout{
                    font-size: 21px;
                    top: 17px;
                    position: relative;
                    right: 23px;
                    
                }
            }
        }
    }
    nav {
        height: 100vh;
        width: 300px;
        background-color: $s-white-color;
        box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
        position: absolute;
        z-index:9999;
        top:0;
    }
    header{
        margin-bottom: 76px;
        text-align: center;
        padding-top:55px;
    }
    //navbar
    //sidebar css
    .sidebar-wrapper img {
        width: 110px;
        height: 45px;
    }
    .sidebar-wrapper ul {
        padding-left:0px;
    } 
    
    .sidebar-wrapper li {
    display: block;
    }
    
    .sidebar-wrapper a {
        display: block;
        line-height: 40px;
        text-decoration: none;
        font-size: 16px;
        color: $s-base-color;
        height:58px;
        padding-top:10px;
        font-family: $Lato-Regular;
    }
    .sidebar-wrapper a:hover{
        background-color: $s-primary-color-1;
        color: $s-base-color;
        border-right: solid 4px $s-primary-color;
    }
  
    .sidebar-wrapper {
        margin-left: -250px;
        left: 250px;
        width: 300px;
        background-color: $s-white-color;
        box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
        position: fixed;
        height: 100%;
        overflow-y: auto;
        z-index: 9999;
        transition: all 0.4s ease 0s;
        float: left;
        .icon-sidebar {
            font-size: 40px;
            margin-left: 20px;
            margin-right: 20px;
        }
        .sidebar-list{
            position: relative;
            bottom: 10px;
        }
    }
    //sidebar css
    //page content css
    .page-content-wrapper {
        width: 100%;
        padding-top: 50px;
        transition: all 0.4s ease 0s;
        background-color: $s-base-color-1;
    }
    .page-content{
        background-color: $s-white-color;
        box-shadow: 0 0 20px 0 rgba(200, 200, 200, 0.5);
        height: 93vh;
        margin: 25px 20px 25px 20px;
        padding:20px;
        .row{
            margin-left: 0px !important;
        }
        .searchbtn{
            width: 130px;
            border-radius: 3px;
            border-color: $s-primary-color;
            margin: 10px 0px 0px 20px;
        }
      
        .btn_addemployee{
            position: absolute;
            right:42px;
            width: 210.5px;
            border: solid 1px $s-primary-color;
            border-radius: 3px;
            margin-top:10px;
        }
    }
    .stylish-input-group .input-group-addon{
        background: $s-white-color !important; 
    }
    .stylish-input-group .form-control{
        border-right:0; 
        box-shadow:0 0 0; 
        border-color:$s-primary-color;
        font-family:$Lato-Medium;
        font-size:18px;
        min-height:50px!important;
        border:none!important;
    }
    .stylish-input-group button{
        border:0;
        background:transparent;
    }
    .stylish-input-group .input-group-addon{
        background: $s-white-color !important; 
        border-color:$s-primary-color;
        min-height:50px!important;
        border:none!important;
    }
    .stylish-input-group .form-control input[type=text]{
        border:none !important; 
        box-shadow:0 0 0; 
    }
    ::-webkit-input-placeholder {
        color:$s-base-color-4;
        font-size:18px;
      }
    .stylish-input-group button{
        border:0;
        background:transparent;
    }
    .input-group{
        height: 0px;
    }
    .filters{
        select {
            height: 37px !important;
            border: $border-select;
            border: 0px;
            border-top: 0px;
            box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
            border-bottom: solid 1px $s-base-color-6;
            margin: 10px 0px 0px 0px;
            -webkit-appearance: none;
            background:url("./../images/down-arrow.svg")no-repeat;
            background-position: 97% 17px;
            background-size: 16px;
            -webkit-border-radius: 0px; 
            padding:0px !important;
            font-size:16px;
            color: rgba(105, 105, 105, 0.51);
            width:440px;
        }
        .selectwidth{
            width:100% !important;
        }
        select :hover{
            -webkit-appearance: none;
            -webkit-border-radius: 0px; 
            padding:0px !important;
        }
        select :active{
            -webkit-appearance: none;
            -webkit-border-radius: 0px; 
            padding:0px !important;
        }
       .selectafter:after{
            right:20px !important;
            top: 18px !important;
        }
    }
    
    .content-table{
        table {
            margin-bottom: 20px;
            max-width: 100%;
            margin-top: 25px;
            thead{
                border-radius: $border-radius-base;
                background-image: linear-gradient(to bottom, #ececec, #c9c9c9);
                tr{
                    height: 80px;
                }
                th{
                    padding-bottom:27px !important;
                    text-align: center;
                    color:$s-base-color;
                    font-size:16px;
                    font-family: $Lato-Medium;
                    font-weight: normal;
                }
            }
            tr{
                border-bottom: 0px!important;
            }
            td{
                height: 60px;
                position: relative;
                text-align: center;
                top: 16px;
                font-size:14px;
                font-family: $Lato-Regular;
                color:$s-base-color-3;
                border-top: 0px solid $navbar-default-toggle-hover-bg !important;
            }
        }
    }
    
    .table-striped > tbody > tr:nth-of-type(odd) {
        background-color: $s-white-color !important;
    }
    .table-striped > tbody > tr:nth-of-type(even) {
        background-color: $s-base-color-2 !important;
    }
     //page content css
    //pagination
    .page-link{
        border: none !important;
    }
    //toggle
    @mixin toggler(
        $size       : 33px,
        $transition : .2s ease-out,
        $color-bg   : #E1E1E1,
        $color-on   : #16B5FF
      ){
        
      background    : $color-bg;
      border-radius : $size*2;
      width         : $size*2.5;
      transition    : $transition;
        
      &__label input:checked ~ .toggler{ background:$color-on; }
        
      &::before{
          border-radius : $size;
          width         : $size;
          height        : $size;
          transition    : $transition;
      }
    }
    
    .toggler{
        padding : 3px;
        position : relative;
      
        @keyframes moveCircle1{
            50%  { padding:0 12%; }
        }
      
        @keyframes moveCircle2{
            50%  { padding:0 12%; }
        }
      
        &__label{
            user-select:none;
            display: flex;
            align-items:center;
            cursor:pointer;
      
            span{ margin-right:1em; }
      
            input{
                &:checked{
                    ~ .toggler{
                        &::before{
                            transform : translateX(-100%);
                            left      : 100%;
                            animation : moveCircle2 .2s ease 1;
                        }
                    }
                }
            }
        }
      
        &::before{
            content       : '';
            display       : block;
            background    : $s-white-color;
            position      : relative;
            left          : 0;
            animation     : moveCircle1 .2s ease 1;
        }
      }
      
      // extend "toggler" with specific settings
      .toggler{
        @include toggler(33px, .2s cubic-bezier(.7,.15,.36,1), #E1E1E1, #16B5FF)
      }
      .toggler {
          padding: 0px;
          position: relative;
        }
        @-webkit-keyframes moveCircle1 {
          50% {
            padding: 0 12%;
          }
        }
        @keyframes moveCircle1 {
          50% {
            padding: 0 12%;
          }
        }
        @-webkit-keyframes moveCircle2 {
          50% {
            padding: 0 12%;
          }
        }
        @keyframes moveCircle2 {
          50% {
            padding: 0 12%;
          }
        }
        .toggler__label {
          -webkit-user-select: none;
             -moz-user-select: none;
              -ms-user-select: none;
                  user-select: none;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          cursor: pointer;
          padding: 0px 20px 10px 10px;
            padding-top: 10px;
        }
        .toggler__label span {
          margin-right: 1em;
        }
        .toggler__label input:checked ~ .toggler::before {
          -webkit-transform: translateX(-100%);
                  transform: translateX(-100%);
          left: 100%;
          -webkit-animation: moveCircle2 .2s ease 1;
                  animation: moveCircle2 .2s ease 1;
        }
        .toggler::before {
          content: '';
          display: block;
          background: $s-white-color;
          position: relative;
          left: -3;
          -webkit-animation: moveCircle1 .2s ease 1;
                  animation: moveCircle1 .2s ease 1;
        }
        
        .toggler {
            background: $s-primary-color;
            border-radius: 66px;
            width: 35.5px;
            transition: 0.2s cubic-bezier(0.7, 0.15, 0.36, 1);
            height: 10px;
           
        }
        .toggler__label input:checked ~ .toggler {
            background: $s-primary-color;
        }
        .toggler::before {
            border-radius: 33px;
            width: 20px;
            height: 20px;
            transition: 0.2s cubic-bezier(0.7, 0.15, 0.36, 1);
            top: -5px;
            left: -3px;
            border:1px solid $s-primary-color;
        }
        .action_list{
            display:flex;
            justify-content:center;
            align-items: center;
            position: relative;
            top:-10px;
            a:hover, a:focus {
                color: $s-white-color !important;
                text-decoration: none !important;
            }
        }
       
        //toggle ends
        .icon-edit{
            font-size: 51px;
            padding: 0px 10px 10px 10px;
        }
        .icon-delete{
            font-size: 51px;
            padding: 0px 10px 10px 10px;
        }
        //header css
        .pointer_cursor {
            cursor: pointer;
        }
        
        @media screen and (max-width: 1024px){
            .header {
                width: calc(100% - 50px);
            }
            .right_side {
                width: 70%;
                float: left;
                padding-right: 0px;
            }
            .header .top_head {
                width: 100%;
                float: left;
            }
            .right_side input {
                font-size: 16px;
                padding-top: 8px;
            }
        }
        @media screen and (max-width: 1366px) and (min-width: 320px){
            .right_side input {
                height: 35px;
            }
        }
        
        @media screen and (max-width: 1023px) and (min-width: 768px){
            .right_side input {
                font-size: 15px;
            }
        }       
        .header {
            background: $s-white-color;
            font-family: $Lato-Regular;
            position: fixed;
            top: 0px;
            z-index: 1000;
            width: calc(100% - 250px);
            height:53px !important;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        }
        .right_side {
            width: 74%;
            padding-right: 0px;
            display: inline-block;
        }
        .header .top_head {
            padding-right: 0px;
        }
        .right_side input {
            width: 100%;
            border: none;
            height: 50px;
            font-size: 18px;
            outline: 0;
            font-family: $Lato-Regular;
            padding-left: 25px;
            min-height: 53px !important; 
        }
        button.btn.btn-secondary.Search_form {
            color: $s-white-color;
            position: relative;
            right: -2px;
        }
        .content {
            background: $s-white-color;
            outline: 0;
            font-size: 18px;
            font-weight: bold;
        }
        
        .Search_form {
            color: $s-white-color;
            height: 55px;
            border-radius: 0px;
            padding: 0px 40px;
            outline: 0;
            font-size: 18px;
        }
        
        button.btn.btn-secondary.Search_form {
            color: $s-white-color;
            position: relative;
            right: -2px;
        }
        
        .right_side h3 {
            height: 40px;
            padding-top: 10px;
            font-size: 26px;
            margin-top: -1px;
            display: inline-block;
            width: 350px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            float: left;
        }
        
        .right_side input {
            width: 100%;
            border: none;
            height: 50px;
            font-size: 18px;
            outline: 0;
            padding: 0px 20px 0px 24px;
            border-radius: 0px;
        }
        
        .user_details {
            position: relative;
        }
        
        .user_details:after {
            font-family: 'sila';
            content: "\e905";
            font-size: 10px;
            position: absolute;
            right: -26px;
            bottom: 5px;
            color:$s-primary-color;
        }
        
        .user_details .hello {
            font-size: 14px;
            color: $s-base-color-5;
        }
        
        .user_details .user_name {
            font-size: 18px;
            font-weight: bold;
            color: $s-base-color;
            text-transform: capitalize;
        }
      
        .logout {
            padding: 3px 0px 3px 40px;
            font-size: 16px;
            cursor: pointer;
            border-left: 1px solid $s-primary-color;
            align-self: center;
            color:$s-primary-color;
        }
        
        button.btn.btn-secondary.content,
        button.btn.btn-secondary.Search_form {
            outline: 0;
        }
        
        .searchimage,
        .closeimage {
            margin-left: 0px;
            font-size: 16px;
        }
        .pro-comp {
            display: flex;
            justify-content: space-around;
            padding: 5px 0px;
            margin-right: 25px;
        }
        .icon-logout{
            padding: 5px;
        }
        .pro-comp {
            background-color: $s-base-color-8;
            
        }
        .icon-search:before{
            font-family:'sila';
            content: "\e90b";
        }
        .searchimage {
            margin-left: 0px;
            font-size: 16px;
        }
}



// employee-1
.input-space{
    h3{
        margin:0px;
        font-size: 20px;
        text-transform: uppercase;
    }
    .row{
        margin-bottom: 40px
    }
    .s-btn-primary.custom{
        width: 130px;
        border-radius: 4px !important;
        border:none!important;
    }
}

.employee-1{
    margin: 55px !important;
}

.s-btn-addemployee.custom{
width: 210px;
border-radius: 4px !important;
border:1px solid $s-primary-color !important;
margin: 16px 16px 0px 0px;
}
.c-box-custom{
    display: inline-flex;
    color: $s-base-color-4;
    h3{
        color: $s-base-color-7;
    }
    input{
       width: 20px !important;
       border: 1px solid $s-base-color-6 !important;
       min-height: 20px !important;
       margin: 0px 20px !important;
   }
}
.gender_radio{
    display: flex;
}
.previous_btn{
    margin-right:25px;
}
.inputbtn_margin{
    margin-top:10px;
}

//    Employee-3
.gender_radio{
    color: $s-base-color-4;
}
.ReactModalPortal{
    .ReactModal__Overlay{
        z-index: 99999;
        background-color: rgba(0, 0, 0, 0.4) !important;
    .addDesignation{
.cover{
    height: 100vh;
    width: 500px;
    position: absolute;
    right: 0;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background: $s-white-color;
    .content{
        margin: 100px 20px;
    }
}
    }
}
}
.siteDetails .custom{
margin: 0px;
}
.addDesignation{
    .filtericon{
        margin-bottom: 40px;
    }
}
.modal-footer{
    bottom: 20px;
    border: 0px;
    width: 100%;
    margin-right: 40px;
    input{
        font-size: 16px;
        border:0px;
        width: 130px;
        border-radius: 4px !important;
        min-height: 40px;
        margin-right: 30px !important;
    }
    input:last-child{
        background: $s-base-color-4 !important;
    }
    position: absolute;
    bottom: 20px;
}
//uploadfile css
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .btn {
    background: $s-primary-color !important;
    color: $s-white-color !important;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 18px;
    font-family: "Lato-Medium";
    text-align: center;
    min-height: 37px;
    width:130px !important;
    border:none!important;
  }
  
  .upload-btn-wrapper input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
.heading_addemployee h3{
    margin: -20px !important;
    font-family: $Lato-Regular;
}
.radiomargin{
    position:relative;
    right:50px;
}
.step5text h3{
    position: relative;
    top: 6px;
}
.step5text span{
    position: relative;
    top: 6px;
}
.mainsubheading{
    font-family: $Lato-Regular;
    font-size: 20px;
    color: $s-base-color-7;
    text-transform: uppercase;
}
.radiostep4margin{
    margin-left:50px;
}
//step 6 css
.radioextramargin{
    margin-left:85px;
}
.indivmargin{
    margin-top:70px;
}
.headingborder{
    opacity: 0.6;
    font-family: $Lato-Bold;
    font-size: 20px;
    color: $s-primary-color;
    border-bottom: solid 1px $s-base-color-6;
    text-transform: uppercase;
    padding:10px 0px 10px 0px;
    width: 1036px;
}
.grosssalary{
    font-family: $Lato-Regular;
    font-size: 20px;
    text-transform: uppercase;
    color: $s-base-color-7;
    text-align: right;
    margin-right: -62px;
}
.salaryprice{
    font-family: $Lato-Regular;
    font-size: 20px;
    color: $s-primary-color;
}
.btnright{
    margin-right: -62px !important;
}

