@import "./bootstrap";
@import "./variables-s.scss";


.login {
    display: flex;
    align-content: center;
    justify-content: center;
    background: $s-base-color-1;
    height: 100vh;
    align-items: center;
    .inner-container {
        background: $s-white-color;
        padding: 175px 145px;
        text-align: center;
        img{
            height: 48px;
            width: 120px;
            margin-bottom: 76px;
        }
        input {
            font-family: $Lato-Medium;
            font-size: 20px;
            width: 300px;
        }
        input[type=text]{
            color:$s-primary-color;
            border-color:$s-primary-color;
            margin:0 auto;
            margin-bottom: 20px;
            padding-left: 25px;
        }
        input[type=text]::placeholder {
            color:$s-primary-color;
            opacity: 1; /* Firefox */
        }
        input[type=password]{
            color:$s-base-color;
            border-color: $s-base-color;
            margin:0 auto;
            margin-bottom: 20px;
            padding-left: 25px;
        }
        input[type=password]::placeholder {
            color:$s-base-color;
            opacity: 1; /* Firefox */
        }
        .forgot-pass{
            text-align: left;
            margin-bottom: 35px;
            a {
                color: #aaaaaa;
                text-transform: capitalize;
            }
        }
        .s-btn-primary{
            min-width: 380px;
            border:0px;
        }
    }
}