@import "./bootstrap";
@import "./variables-s.scss";

.sitesearch_margin{
    margin:30px;
}
.sitedashboard_heading{
    font-family: $Lato-Bold;
    font-size: 20px;
    color: $s-base-color;
    text-transform: uppercase;
    margin-top:20px;
}
.createsitebtn{
    float:right;
}
