@import './../../node_modules/bootstrap/dist/css/bootstrap-grid.min.css';
@import './../../node_modules/bootstrap/dist/css/bootstrap-reboot.min.css';
@import './../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import './../sass/variables-s.scss';
@font-face {
    font-family: 'Lato-Black';
    src: url('./../fonts/Lato-Black.eot?#iefix') format('embedded-opentype'), url('./../fonts/Lato-Black.woff') format('woff'), url('./../fonts/Lato-Black.ttf') format('truetype'), url('./../fonts/Lato-Black.svg#Lato-Black') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('./../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), url('./../fonts/Lato-Bold.woff') format('woff'), url('./../fonts/Lato-Bold.ttf') format('truetype'), url('./../fonts/Lato-Bold.svg#Lato-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Medium';
    src: url('./../fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'), url('./../fonts/Lato-Medium.woff') format('woff'), url('./../fonts/Lato-Medium.ttf') format('truetype'), url('./../fonts/Lato-Medium.svg#Lato-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('./../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), url('./../fonts/Lato-Regular.woff') format('woff'), url('./../fonts/Lato-Regular.ttf') format('truetype'), url('./../fonts/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-BlackItalic';
    src: url('./../fonts/Lato-BlackItalic.eot?#iefix') format('embedded-opentype'), url('./../fonts/Lato-BlackItalic.woff') format('woff'), url('./../fonts/Lato-BlackItalic.ttf') format('truetype'), url('./../fonts/Lato-BlackItalic.svg#Lato-BlackItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Semibold';
    src: url('./../fonts/Lato-Semibold.eot?#iefix') format('embedded-opentype'), url('./../fonts/Lato-Semibold.woff') format('woff'), url('./../fonts/Lato-Semibold.ttf') format('truetype'), url('./../fonts/Lato-Semibold.svg#Lato-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

// icon fonts
// icon fonts

@font-face {
    font-family: 'sila';
    src:  url('./../fonts/sila.eot?k9v9g7');
    src:  url('./../fonts/sila.eot?k9v9g7#iefix') format('embedded-opentype'),
      url('./../fonts/sila.ttf?k9v9g7') format('truetype'),
      url('./../fonts/sila.woff?k9v9g7') format('woff'),
      url('./../fonts/sila.svg?k9v9g7#sila') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'sila' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-masters:before {
    content: "\e910";
    color: #000;
  }
  .icon-statusinfo:before {
    content: "\e909";
    color: #f7a600;
  }
  .icon-statuserror:before {
    content: "\e90f";
    color: #d0021b;
  }
  .icon-check-mark:before {
    content: "\e90e";
  }
  .icon-search:before {
    content: "\e90b";
    color:$s-primary-color;
  }
  .icon-attendance:before {
    content: "\e900";
    color: #525252;
  }
  .icon-billing:before {
    content: "\e902";
    color: #525252;
  }
  .icon-delete:before {
    content: "\e904";
    color: #d0021b;
  }
  .icon-down-arrow:before {
    content: "\e905";
    color: #f7a600;
  }
  .icon-edit:before {
    content: "\e906";
    color: #f7a600;
  }
  .icon-employee:before {
    content: "\e908";
    color: #525252;
  }
  .icon-payroll:before {
    content: "\e90a";
    color: #525252;
  }
  .icon-sites:before {
    content: "\e90c";
    color: #525252;
  }
  .icon-user:before {
    content: "\e90d";
    color: #525252;
  }
  .icon-back:before {
    content: "\e901";
    color: #f7a600;
  }
  .icon-downarrow:before {
    content: "\e903";
    color: #f7a600;
  }
  .icon-logout:before {
    content: "\e907";
    color: #f7a600;
  }
  
// icon fonts

select {
    width:  $s-select-width;
    height: $s-select-height;
    border: $border-select;
}

.filters, .addDesignation{
    select,input {
        width: 100%;
        min-height: 37px !important;
        border: 0px !important;
        border-top: 0px;
        box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
        border-bottom: solid 1px #d2d2d2 !important;
        border-radius: 0px !important;
        -webkit-appearance: none;
        -webkit-border-radius: 0px; 
        padding:0px !important;
        font-size:16px;
        color: rgba(105, 105, 105, 0.51);
        background: transparent;

    }
    select :hover{
        -webkit-appearance: none;
        -webkit-border-radius: 0px; 
        padding:0px !important;
    }
    select :active{
        -webkit-appearance: none;
        -webkit-border-radius: 0px; 
        padding:0px !important;
    }
    /*.filtericon:after{
        font-family: 'sila';
        content: "\E905";
        font-size: 15px;
        position: absolute;
        color:$s-primary-color;
        margin-left: -17px;
    }*/
}


//global css
*{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
input:focus{
    outline: none;
}
.error-txt{
    color: $brand-danger;
    margin: 12px 0px;
    text-align: left;
}
.success-txt{
    color: $brand-success;
    margin: 12px 0px;
    text-align: left;
}

input[type=text], input[type=password]  {
    border-radius: $border-radius-base;
    min-height: 60px;
    border:1px solid;
    width: 440px;
}
input[type=password]:focus{
    color:$s-primary-color !important;
    border-color:$s-primary-color !important;
    box-shadow:0 0 0 !important;
}
input[type=password]:focus::-webkit-input-placeholder {
    color: $s-primary-color !important;
}
.s-btn-primary{
    background: $s-primary-color !important;
    color: $s-white-color !important;
    border-radius: $border-radius-base;
    text-transform: uppercase;
    font-size: 28px;
    font-family: $Lato-Medium;
    text-align: center;
    min-height: 60px;
}
.s-btn-default{
    background: $s-primary-color;
    color: $s-white-color;
    border-radius: $border-radius-small;
    text-transform: uppercase;
    font-size: 18px;
    font-family: $Lato-Medium;
    text-align: center;
    height: 40px;
}
.s-btn-addemployee{
    color: $s-primary-color !important;
    background: $s-white-color !important;
    border-radius: $border-radius-small !important;
    text-transform: uppercase;
    font-size: 18px;
    font-family: $Lato-Medium;
    text-align: center;
    height: 40px;
}
input[type=radio] {
    -webkit-appearance: radio !important;
    padding-right: 0px !important;
    width: 24px;
    margin: 0px 0px 0px 60px;
    }
// checkbox
.check-mark{
    position: relative;
}
.icon-check-mark{
    display: none;
}
input[type=checkbox]:checked{
    border-color: $s-primary-color;
}
input[type=checkbox]:checked ~ .icon-check-mark{
    position: absolute;
    display: block;
    top: 4px;
    left: 23px;
    pointer-events: none;
    color: $s-primary-color;
}
// step -1 
.bg-white{
    background-color: $s-white-color;
}

// global step wise wizard
.stepwizard-step {
    height: 105px;
    position: relative;
p {
    margin-top: 0px;
    color: $s-base-color-4;
    font-family: 'Lato-Bold';
}
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 50%;
    position: relative;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.btn-circle {
    border: 1px solid $s-base-color-4;
    background:  $s-white-color;
    position: absolute;
    height: 16px;
    width: 16px;
    top: 3px;
    left: 47px;
    border-radius: 50%;
    z-index: 1;
}

.stepwizard-step:after{
    content: "";
    width: 2px;
    background-color: $s-base-color-4;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 54px;
}
.stepwizard-step:last-child::after{
    width: 0px;
}
.stepwizard-step.active{
    .btn-circle::before{
        content: "";
        background-color: $s-base-color-4;
        border: 0px;
        border-radius: 50%;
        height: 0px;
        width: 0px;
        padding: 4px;
        display: block;
        position: relative;
        top: 3px;
        left: 3px;
    }
    .btn-circle::after{
    content: "...";
    position: absolute;
    font-size: 24px;
    left: 20px;
    top: -17px;
    color: $s-primary-color;
    }

    p{
        color: $s-primary-color;
    }
    .btn-circle {
        border: 1px solid  $s-primary-color;
    }
    .btn-circle::before{
        background-color: $s-primary-color;
    }
}
.stepwizard-step.active:after{
    background-color: $s-primary-color;
}
input[type=radio] {
  -webkit-appearance: radio !important;
  padding-right: 0px !important;
  width: 24px;
}
input[type='radio']:after {
  background-color: #d1d3d1;
}
textarea{
  width: 100%;
  height:130px;
  border:1px solid $s-base-color-6;
  margin-top:10px !important;
}
.side_heading{
  font-family: $Lato-Bold;
  font-size:16px;
  color:$s-base-color-7;
  opacity:0.6;
}
.side_heading1{
  font-family: $Lato-Regular;
  font-size:20px;
  color:$s-base-color-7;
}
input[type=number]{
  -webkit-appearance: none;
  width:440px;
}
// global floating label for input

.floating-label {
    position: absolute;
    pointer-events: none;
    left: 20px;
    top: 8px;
    transition: 0.2s ease all;
    font-size: 16px;
    color: $s-base-color-4;
  }
  input:focus ~ .floating-label,
  input:not(:focus):valid ~ .floating-label{
  top: -14px;
  left: 14px;
  font-size: 14px;
  opacity: 1;
  color: $s-primary-color;
}
.radiolabel{
    display: inline-block;
    max-width: 100%;
    margin: 0px 30px 0px 20px;
    font-weight: normal !important;
    font-family: $Lato-Regular;
    font-size: 16px;
    opacity: 0.6;
    color:$s-base-color;

}

